<!-- Pokemon web -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<h1 class="center">Welcome to my Pokemon App! Level sony dilane </h1>

<h2>Pokemon List</h2>
      <input

  #input
  (keyup.enter)="selectPokemon(input.value)"
  type="number"

        />
        <p *ngIf="pokemonSelected">
          Vous avez selectionner: {{ pokemonSelected.name }}
        </p>

        <p *ngIf="!pokemonSelected">
          Aucun pokemon n'a été trouvé.
        </p>
<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col m3 s4">
      <div class="card horizontal" click="selectPokemon(pokemon)" appBorderCard>
        <div class="card-image">
          <img [src]="pokemon.picture" />
          <div class="card-stacked">
            <div class="card-content">
            <p>{{pokemon.name}}</p>
            <p><small>{{pokemon.created}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>